#CourseList {
  width: 100%;
  border-collapse: collapse;
}

#CourseList th,
#CourseList td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#CourseList th {
  background-color: #f4f4f4;
}
