.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1003c;
}

.App-header h1 {
  color: #e1003c;
}