.notifications {
    border: 1.5px dashed #e1003c;
    display: inline-block;
    float: right;
    text-align: left;
}

.notifications ul {
    color: #e1003c;
}

.notifications ul li[data-priority=default]{
    color: blue;
}

.notification-title { 
    text-align: right;
    margin: 0;
}
