.App-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #e1003c;
}

.App-body {
  padding: 2rem;
}

.App-footer {
  padding: 1rem;
  border-top: 1px solid #ccc;
  text-align: center;
  font-style: italic;
  position: fixed;
  width: 100%;
  bottom: 0;
}
