.App-header {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-bottom-style: solid;
	border-color: #e1003c;
  }

  .App-header h1 {
	display: flex;
	font-weight: bold;
  }

  .App-header img {
	display: flex;
	width: 150px;
  }
